USE [master]
GO
/****** Object:  Database [GroupOne-EuropeanCarManufacturer]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE DATABASE [GroupOne-EuropeanCarManufacturer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GroupOne-EuropeanCarDealership', FILENAME = N'/var/opt/mssql/data/GroupOne-EuropeanCarDealership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GroupOne-EuropeanCarDealership_log', FILENAME = N'/var/opt/mssql/log/GroupOne-EuropeanCarDealership_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GroupOne-EuropeanCarManufacturer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GroupOne-EuropeanCarManufacturer]
GO
/****** Object:  Schema [Analytics]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Analytics]
GO
/****** Object:  Schema [dBlob]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [dBlob]
GO
/****** Object:  Schema [DbSecurity]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [DbSecurity]
GO
/****** Object:  Schema [dDateTime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [dDateTime]
GO
/****** Object:  Schema [dEuropeanCarDealership]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [dEuropeanCarDealership]
GO
/****** Object:  Schema [dNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [dNumber]
GO
/****** Object:  Schema [dString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [dString]
GO
/****** Object:  Schema [HumanResources]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [HumanResources]
GO
/****** Object:  Schema [Inventory]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Schema [Output]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Output]
GO
/****** Object:  Schema [PKSequence]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [PKSequence]
GO
/****** Object:  Schema [Sales]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Schema [sdAddressesString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdAddressesString]
GO
/****** Object:  Schema [sdBusinessComponentString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdBusinessComponentString]
GO
/****** Object:  Schema [sdCountryStringVariants]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdCountryStringVariants]
GO
/****** Object:  Schema [sdDate]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdDate]
GO
/****** Object:  Schema [sdFlagBit]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdFlagBit]
GO
/****** Object:  Schema [sdFlagString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdFlagString]
GO
/****** Object:  Schema [sdHashKey]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdHashKey]
GO
/****** Object:  Schema [sdLongTextString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdLongTextString]
GO
/****** Object:  Schema [sdMarketingTextString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdMarketingTextString]
GO
/****** Object:  Schema [sdOrdinalNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdOrdinalNumber]
GO
/****** Object:  Schema [sdPersonNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdPersonNameString]
GO
/****** Object:  Schema [sdProjectString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdProjectString]
GO
/****** Object:  Schema [sdSequenceInteger]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdSequenceInteger]
GO
/****** Object:  Schema [sdSequenceNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdSequenceNumber]
GO
/****** Object:  Schema [sdShortDescriptionString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdShortDescriptionString]
GO
/****** Object:  Schema [sdShortTextString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdShortTextString]
GO
/****** Object:  Schema [sdSysTime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdSysTime]
GO
/****** Object:  Schema [sdTimeString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdTimeString]
GO
/****** Object:  Schema [sdVehicleDescriptorString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdVehicleDescriptorString]
GO
/****** Object:  Schema [sdVehicleSalePayment]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [sdVehicleSalePayment]
GO
/****** Object:  Schema [Triggered]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Triggered]
GO
/****** Object:  Schema [Utils]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SCHEMA [Utils]
GO
/****** Object:  UserDefinedDataType [dBlob].[sdHashKey]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dBlob].[sdHashKey] FROM [varbinary](max) NULL
GO
/****** Object:  UserDefinedDataType [dDateTime].[sdDate]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dDateTime].[sdDate] FROM [date] NULL
GO
/****** Object:  UserDefinedDataType [dDateTime].[sdSysTime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dDateTime].[sdSysTime] FROM [datetime2](7) NOT NULL
GO
/****** Object:  UserDefinedDataType [dEuropeanCarDealership].[dBlob]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dEuropeanCarDealership].[dBlob] FROM [varbinary](max) NULL
GO
/****** Object:  UserDefinedDataType [dEuropeanCarDealership].[dDatetime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dEuropeanCarDealership].[dDatetime] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dEuropeanCarDealership].[dEuropeanCarManufacturer]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dEuropeanCarDealership].[dEuropeanCarManufacturer] FROM [char](18) NULL
GO
/****** Object:  UserDefinedDataType [dEuropeanCarDealership].[dNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dEuropeanCarDealership].[dNumber] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dEuropeanCarDealership].[dString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dEuropeanCarDealership].[dString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dNumber].[sdFlagBit]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dNumber].[sdFlagBit] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [dNumber].[sdOrdinalNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dNumber].[sdOrdinalNumber] FROM [smallint] NOT NULL
GO
/****** Object:  UserDefinedDataType [dNumber].[sdSequenceNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dNumber].[sdSequenceNumber] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dNumber].[sdVehicleSalePayment]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dNumber].[sdVehicleSalePayment] FROM [numeric](18, 2) NOT NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdAddressesString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdAddressesString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdBusinessComponentsString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdBusinessComponentsString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdCountryStringVariants]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdCountryStringVariants] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdCustomerString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdCustomerString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdFlagString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdFlagString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdLongTextString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdLongTextString] FROM [nvarchar](200) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdPersonNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdPersonNameString] FROM [nvarchar](50) NOT NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdProjectString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdProjectString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdShortTextString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdShortTextString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdTimeString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdTimeString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dString].[sdVehicleString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [dString].[sdVehicleString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdAddressesString].[AddressString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdAddressesString].[AddressString] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [sdAddressesString].[CountryString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdAddressesString].[CountryString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdAddressesString].[PostalCodeString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdAddressesString].[PostalCodeString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [sdAddressesString].[RegionString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdAddressesString].[RegionString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [sdAddressesString].[TownString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdAddressesString].[TownString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [sdBusinessComponentString].[DepartmentString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdBusinessComponentString].[DepartmentString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdCountryStringVariants].[CountryISO2]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdCountryStringVariants].[CountryISO2] FROM [nchar](2) NULL
GO
/****** Object:  UserDefinedDataType [sdCountryStringVariants].[CountryISO3]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdCountryStringVariants].[CountryISO3] FROM [nchar](3) NULL
GO
/****** Object:  UserDefinedDataType [sdDate].[PurchaseDate]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdDate].[PurchaseDate] FROM [date] NULL
GO
/****** Object:  UserDefinedDataType [sdDate].[SaleDate]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdDate].[SaleDate] FROM [date] NULL
GO
/****** Object:  UserDefinedDataType [sdFlagBit].[FlagFalse]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdFlagBit].[FlagFalse] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [sdFlagString].[AuditFlag]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdFlagString].[AuditFlag] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [sdHashKey].[RowLevelKey]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdHashKey].[RowLevelKey] FROM [varbinary](32) NULL
GO
/****** Object:  UserDefinedDataType [sdLongTextString].[CustomerComments]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdLongTextString].[CustomerComments] FROM [nvarchar](200) NULL
GO
/****** Object:  UserDefinedDataType [sdLongTextString].[Note]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdLongTextString].[Note] FROM [nvarchar](200) NULL
GO
/****** Object:  UserDefinedDataType [sdMarketingTextString].[CustomerSpendCapacity]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdMarketingTextString].[CustomerSpendCapacity] FROM [nvarchar](25) NULL
GO
/****** Object:  UserDefinedDataType [sdMarketingTextString].[VehicleSalesThresholdCategory]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdMarketingTextString].[VehicleSalesThresholdCategory] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdOrdinalNumber].[TransactionNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdOrdinalNumber].[TransactionNumber] FROM [smallint] NOT NULL
GO
/****** Object:  UserDefinedDataType [sdPersonNameString].[CustomerName]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdPersonNameString].[CustomerName] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdPersonNameString].[FirstNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdPersonNameString].[FirstNameString] FROM [nvarchar](25) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdPersonNameString].[FullNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdPersonNameString].[FullNameString] FROM [nvarchar](50) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdPersonNameString].[LastNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdPersonNameString].[LastNameString] FROM [nvarchar](25) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdProjectString].[GrouplProjectNameString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdProjectString].[GrouplProjectNameString] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdSequenceNumber].[LineItemNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSequenceNumber].[LineItemNumber] FROM [smallint] NOT NULL
GO
/****** Object:  UserDefinedDataType [sdSequenceNumber].[SurrogateKeyNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSequenceNumber].[SurrogateKeyNumber] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [sdShortTextString].[InvoiceNumber]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdShortTextString].[InvoiceNumber] FROM [nchar](8) NULL
GO
/****** Object:  UserDefinedDataType [sdShortTextString].[StockCode]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdShortTextString].[StockCode] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdSysTime].[DateAdded]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSysTime].[DateAdded] FROM [datetime2](7) NULL
GO
/****** Object:  UserDefinedDataType [sdSysTime].[DateOfLastUpdate]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSysTime].[DateOfLastUpdate] FROM [datetime2](7) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdSysTime].[SysEndTime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSysTime].[SysEndTime] FROM [datetime2](7) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdSysTime].[SysStartTime]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdSysTime].[SysStartTime] FROM [datetime2](7) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdTimeString].[ClassTimeString]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdTimeString].[ClassTimeString] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleDescriptorString].[VehicleColor]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleDescriptorString].[VehicleColor] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleDescriptorString].[VehicleIdentifier]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleDescriptorString].[VehicleIdentifier] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleDescriptorString].[VehicleManufacturerMarketingType]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleDescriptorString].[VehicleManufacturerMarketingType] FROM [nvarchar](250) NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleSalePayment].[CostOfFee]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleSalePayment].[CostOfFee] FROM [numeric](18, 2) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleSalePayment].[DiscountedPrice]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleSalePayment].[DiscountedPrice] FROM [numeric](18, 2) NOT NULL
GO
/****** Object:  UserDefinedDataType [sdVehicleSalePayment].[VehiclePrice]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE TYPE [sdVehicleSalePayment].[VehiclePrice] FROM [numeric](18, 2) NOT NULL
GO
USE [GroupOne-EuropeanCarManufacturer]
GO
/****** Object:  Sequence [PKSequence].[CustomerExpenditureClassificationID]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SEQUENCE [PKSequence].[CustomerExpenditureClassificationID] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [GroupOne-EuropeanCarManufacturer]
GO
/****** Object:  Sequence [PKSequence].[CustomerID]    Script Date: 12/12/2022 4:24:16 PM ******/
CREATE SEQUENCE [PKSequence].[CustomerID] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  UserDefinedFunction [Sales].[ufnCategoryDescription_SalesOrderCategoryDescription]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE FUNCTION [Sales].[ufnCategoryDescription_SalesOrderCategoryDescription] 
(
	-- Add the parameters for the function here
	@SalePrice NUMERIC(18,2)
    
)
RETURNS NVARCHAR(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result NVARCHAR(60)
			
	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = TH.CategoryDescription
	FROM Sales.SalesOrderVehicle AS SO
	INNER JOIN Analytics.SalesCategoryThreshold AS TH
	ON SO.TotalSalePrice BETWEEN TH.LowerThreshold AND th.UpperThreshold
	WHERE @SalePrice = SO.TotalSalePrice
	                     
	                     
	-- Return the result of the function
	RETURN @Result

END
GO
/****** Object:  Table [dbo].[__MigrationLog]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationLog](
	[migration_id] [uniqueidentifier] NOT NULL,
	[script_checksum] [nvarchar](64) NOT NULL,
	[script_filename] [nvarchar](255) NOT NULL,
	[complete_dt] [datetime2](7) NOT NULL,
	[applied_by] [nvarchar](100) NOT NULL,
	[deployed] [tinyint] NOT NULL,
	[version] [varchar](255) NULL,
	[package_version] [varchar](255) NULL,
	[release_version] [varchar](255) NULL,
	[sequence_no] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK___MigrationLog] PRIMARY KEY CLUSTERED 
(
	[migration_id] ASC,
	[complete_dt] ASC,
	[script_checksum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[__MigrationLogCurrent]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE VIEW [dbo].[__MigrationLogCurrent]
			AS
			WITH currentMigration AS
			(
			  SELECT
				 migration_id, script_checksum, script_filename, complete_dt, applied_by, deployed, ROW_NUMBER() OVER(PARTITION BY migration_id ORDER BY sequence_no DESC) AS RowNumber
			  FROM [dbo].[__MigrationLog]
			)
			SELECT  migration_id, script_checksum, script_filename, complete_dt, applied_by, deployed
			FROM currentMigration
			WHERE RowNumber = 1
	
GO
/****** Object:  Table [HumanResources].[Staff]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[Staff](
	[StaffID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[StaffName] [sdPersonNameString].[FullNameString] NULL,
	[DepartmentID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[ManagerID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [dNumber].[sdSequenceNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [XPKStaff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HumanResources].[Department]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[Department](
	[DepartmentName] [sdBusinessComponentString].[DepartmentString] NULL,
	[DepartmentID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
 CONSTRAINT [XPKDepartment] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[uvw_HumanResourcesStaff]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[uvw_HumanResourcesStaff]
AS
SELECT S.StaffID, S.StaffName, S.DepartmentID, D.DepartmentName
FROM HumanResources.Staff AS S
INNER JOIN HumanResources.Department AS D
ON S.DepartmentID = D.DepartmentID
GO
/****** Object:  UserDefinedFunction [dbo].[DatabaseObjects]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DatabaseObjects] (@ListOfObjectIDs varchar(max) )  
  RETURNS TABLE
 
  
as RETURN
(
    select object_id
         , schema_name(schema_id) + '.' + coalesce(object_name(parent_object_id) + '.', '') + name as name
    from sys.objects as ob
        inner join openjson(N'[' + @ListOfObjectIDs + N']')
            on convert(int, Value) = ob.object_id
);




GO
/****** Object:  View [Utils].[uvw_FindColumnDefinitionPlusDefaultAndCheckConstraint]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Utils].[uvw_FindColumnDefinitionPlusDefaultAndCheckConstraint]
AS
SELECT
  concat(tbl.TABLE_SCHEMA, '.', tbl.TABLE_NAME) AS FullyQualifiedTableName,
  tbl.TABLE_SCHEMA AS SchemaName,
  tbl.TABLE_NAME AS TableName,
  col.COLUMN_NAME AS ColumnName,
  col.ORDINAL_POSITION AS OrdinalPosition,
  concat(col.DOMAIN_SCHEMA, '.', col.DOMAIN_NAME) AS FullyQualifiedDomainName,
  col.DOMAIN_NAME AS DomainName,
  CASE
    WHEN col.DATA_TYPE = 'varchar' THEN concat('varchar(', CHARACTER_MAXIMUM_LENGTH, ')')
    WHEN col.DATA_TYPE = 'char' THEN concat('char(', CHARACTER_MAXIMUM_LENGTH, ')')
    WHEN col.DATA_TYPE = 'nvarchar' THEN concat('nvarchar(', CHARACTER_MAXIMUM_LENGTH, ')')
    WHEN col.DATA_TYPE = 'nchar' THEN concat('nchar(', CHARACTER_MAXIMUM_LENGTH, ')')
    WHEN col.DATA_TYPE = 'numeric' THEN concat('numeric(', NUMERIC_PRECISION_RADIX, ', ', NUMERIC_SCALE, ')')
    WHEN col.DATA_TYPE = 'decimal' THEN concat('decimal(', NUMERIC_PRECISION_RADIX, ', ', NUMERIC_SCALE, ')')
    ELSE col.DATA_TYPE
  END AS DataType,
  col.IS_NULLABLE AS IsNullable,
  dcn.DefaultName,
  col.COLUMN_DEFAULT AS DefaultNameDefinition,
  cc.CONSTRAINT_NAME AS CheckConstraintRuleName,
  cc.CHECK_CLAUSE AS CheckConstraintRuleNameDefinition
FROM (SELECT
  TABLE_CATALOG,
  TABLE_SCHEMA,
  TABLE_NAME,
  TABLE_TYPE
FROM INFORMATION_SCHEMA.TABLES
WHERE (TABLE_TYPE = 'BASE TABLE')) AS tbl
INNER JOIN (SELECT
  TABLE_CATALOG,
  TABLE_SCHEMA,
  TABLE_NAME,
  COLUMN_NAME,
  ORDINAL_POSITION,
  COLUMN_DEFAULT,
  IS_NULLABLE,
  DATA_TYPE,
  CHARACTER_MAXIMUM_LENGTH,
  CHARACTER_OCTET_LENGTH,
  NUMERIC_PRECISION,
  NUMERIC_PRECISION_RADIX,
  NUMERIC_SCALE,
  DATETIME_PRECISION,
  CHARACTER_SET_CATALOG,
  CHARACTER_SET_SCHEMA,
  CHARACTER_SET_NAME,
  COLLATION_CATALOG,
  COLLATION_SCHEMA,
  COLLATION_NAME,
  DOMAIN_CATALOG,
  DOMAIN_SCHEMA,
  DOMAIN_NAME
FROM INFORMATION_SCHEMA.COLUMNS) AS col
  ON col.TABLE_CATALOG = tbl.TABLE_CATALOG
  AND col.TABLE_SCHEMA = tbl.TABLE_SCHEMA
  AND col.TABLE_NAME = tbl.TABLE_NAME
LEFT OUTER JOIN (SELECT
  t.name AS TableName,
  SCHEMA_NAME(s.schema_id) AS SchemaName,
  ac.name AS ColumnName,
  d.name AS DefaultName
FROM sys.all_columns AS ac
INNER JOIN sys.tables AS t
  ON ac.object_id = t.object_id
INNER JOIN sys.schemas AS s
  ON t.schema_id = s.schema_id
INNER JOIN sys.default_constraints AS d
  ON ac.default_object_id = d.object_id) AS dcn
  ON dcn.SchemaName = tbl.TABLE_SCHEMA
  AND dcn.TableName = tbl.TABLE_NAME
  AND dcn.ColumnName = col.COLUMN_NAME
LEFT OUTER JOIN (SELECT
  cu.TABLE_CATALOG,
  cu.TABLE_SCHEMA,
  cu.TABLE_NAME,
  cu.COLUMN_NAME,
  c.CONSTRAINT_CATALOG,
  c.CONSTRAINT_SCHEMA,
  c.CONSTRAINT_NAME,
  c.CHECK_CLAUSE
FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE AS cu
INNER JOIN INFORMATION_SCHEMA.CHECK_CONSTRAINTS AS c
  ON c.CONSTRAINT_NAME = cu.CONSTRAINT_NAME) AS cc
  ON cc.TABLE_SCHEMA = tbl.TABLE_SCHEMA
  AND cc.TABLE_NAME = tbl.TABLE_NAME
  AND cc.COLUMN_NAME = col.COLUMN_NAME
GO
/****** Object:  Table [Analytics].[CustomerExpenditureClassification]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analytics].[CustomerExpenditureClassification](
	[CustomerExpenditureClassificationID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
	[CustomerExpenditureClassifier] [sdMarketingTextString].[CustomerSpendCapacity] NULL,
 CONSTRAINT [PK_CustomerExpenditureClassification] PRIMARY KEY CLUSTERED 
(
	[CustomerExpenditureClassificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Analytics].[ManufacturerMarketingCategory]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analytics].[ManufacturerMarketingCategory](
	[ManufacturerMarketingCategoryID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
	[ManufacturerVehicleMarketingType] [sdVehicleDescriptorString].[VehicleManufacturerMarketingType] NULL,
 CONSTRAINT [XPKManufacturerMarketingCategory] PRIMARY KEY CLUSTERED 
(
	[ManufacturerMarketingCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Analytics].[SalesCategoryThreshold]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analytics].[SalesCategoryThreshold](
	[SalesCategoryThresholdID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
	[LowerThreshold] [sdVehicleSalePayment].[VehiclePrice] NULL,
	[UpperThreshold] [sdVehicleSalePayment].[VehiclePrice] NULL,
	[CategoryDescription] [sdMarketingTextString].[VehicleSalesThresholdCategory] NULL,
 CONSTRAINT [XPKSalesCategoryThreshold] PRIMARY KEY CLUSTERED 
(
	[SalesCategoryThresholdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__SchemaSnapshot]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__SchemaSnapshot](
	[Snapshot] [varbinary](max) NULL,
	[LastUpdateDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DbSecurity].[UserAuthorization]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DbSecurity].[UserAuthorization](
	[UserAuthorizationId] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[ClassTime] [sdTimeString].[ClassTimeString] NULL,
	[GroupName] [dEuropeanCarDealership].[dEuropeanCarManufacturer] NOT NULL,
	[GroupProjectName] [sdProjectString].[GrouplProjectNameString] NULL,
	[GroupMemberLastName] [sdPersonNameString].[LastNameString] NOT NULL,
	[GroupMemberFirstName] [sdPersonNameString].[FirstNameString] NOT NULL,
	[DateAdded] [sdSysTime].[DateAdded] NULL,
	[DateOfLastUpdate] [sdSysTime].[DateOfLastUpdate] NULL,
 CONSTRAINT [PK_UserAuthorization] PRIMARY KEY CLUSTERED 
(
	[UserAuthorizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ManufacturerVehicleMake]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ManufacturerVehicleMake](
	[ManufacturerVehicleMakeID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[ManufacturerVehicleMakeName] [sdVehicleDescriptorString].[VehicleIdentifier] NULL,
	[ManufacturerVehicleMarketingCategoryID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[CountryID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_Make] PRIMARY KEY CLUSTERED 
(
	[ManufacturerVehicleMakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ManufacturerVehicleModel]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ManufacturerVehicleModel](
	[ManufacturerVehicleModelID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[ManufacturerVehicleMakeID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[ManufacturerVehicleModelName] [sdVehicleDescriptorString].[VehicleIdentifier] NULL,
	[ManufacturerVehicleModelVariant] [sdVehicleDescriptorString].[VehicleIdentifier] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_Model_1] PRIMARY KEY CLUSTERED 
(
	[ManufacturerVehicleModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ManufacturerVehicleStock]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ManufacturerVehicleStock](
	[ManufacturerVehicleStockID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[ManufacturerVehicleModelID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[StockCode] [sdShortTextString].[StockCode] NULL,
	[Cost] [sdVehicleSalePayment].[VehiclePrice] NULL,
	[RepairsCharge] [sdVehicleSalePayment].[CostOfFee] NULL,
	[PartsCharge] [sdVehicleSalePayment].[CostOfFee] NULL,
	[DeliveryCharge] [sdVehicleSalePayment].[CostOfFee] NULL,
	[IsPremiumRoadHandlingPackage] [sdFlagBit].[FlagFalse] NULL,
	[VehicleColor] [sdVehicleDescriptorString].[VehicleColor] NULL,
	[CustomerComments] [sdLongTextString].[CustomerComments] NULL,
	[PurchaseDate] [sdDate].[PurchaseDate] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[ManufacturerVehicleStockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Country]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Country](
	[CountryID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[CountryName] [sdAddressesString].[CountryString] NULL,
	[CountryISO3] [sdCountryStringVariants].[CountryISO3] NOT NULL,
	[CountryISO2] [sdCountryStringVariants].[CountryISO2] NULL,
	[SalesRegion] [sdAddressesString].[RegionString] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Customer]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Customer](
	[CustomerID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
	[CustomerName] [sdPersonNameString].[CustomerName] NULL,
	[CustomerAddress1] [sdAddressesString].[AddressString] NULL,
	[CustomerAddress2] [sdAddressesString].[AddressString] NULL,
	[CustomerTown] [sdAddressesString].[TownString] NULL,
	[CustomerPostalCode] [sdAddressesString].[PostalCodeString] NULL,
	[CountryID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[IsCustomerReseller] [sdFlagBit].[FlagFalse] NULL,
	[IsCustomerCreditRisk] [sdFlagBit].[FlagFalse] NULL,
	[CustomerExpenditureClassificationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrderVehicle]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrderVehicle](
	[SalesOrderVehicleID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[CustomerID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[StaffID] [sdSequenceNumber].[SurrogateKeyNumber] NOT NULL,
	[InvoiceNumber] [sdShortTextString].[InvoiceNumber] NULL,
	[TotalSalePrice] [sdVehicleSalePayment].[VehiclePrice] NULL,
	[SaleDate] [sdDate].[SaleDate] NULL,
	[SalesOrderCategoryDescription]  AS ([Sales].[ufnCategoryDescription_SalesOrderCategoryDescription]([TotalSalePrice])),
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [XPK_SalesOrderVehicle] PRIMARY KEY CLUSTERED 
(
	[SalesOrderVehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrderVehicleDetail]    Script Date: 12/12/2022 4:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrderVehicleDetail](
	[SalesOrderVehicleDetailID] [sdSequenceNumber].[SurrogateKeyNumber] IDENTITY(1,1) NOT NULL,
	[SalesOrderVehicleID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[LineItemNumber] [sdSequenceNumber].[LineItemNumber] NOT NULL,
	[ManufacturerVehicleStockID] [sdSequenceNumber].[SurrogateKeyNumber] NULL,
	[StockCode] [sdShortTextString].[StockCode] NULL,
	[SalePrice] [sdVehicleSalePayment].[VehiclePrice] NULL,
	[LineItemDiscount] [sdVehicleSalePayment].[DiscountedPrice] NULL,
	[DerivedDiscountedSalePrice]  AS ([SalePrice]-[LineItemDiscount]/[LineItemNumber]) PERSISTED NOT NULL,
	[Note] [sdLongTextString].[Note] NOT NULL,
	[IsDeleted] [sdFlagString].[AuditFlag] NULL,
	[TransactionNumber] [sdOrdinalNumber].[TransactionNumber] NULL,
	[UserAuthorizationID] [dNumber].[sdSequenceNumber] NULL,
	[SysStartTime] [sdSysTime].[SysStartTime] NULL,
	[SysEndTime] [sdSysTime].[SysEndTime] NULL,
 CONSTRAINT [PK_SalesDetails] PRIMARY KEY CLUSTERED 
(
	[SalesOrderVehicleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Analytics].[CustomerExpenditureClassification] ([CustomerExpenditureClassificationID], [CustomerExpenditureClassifier]) VALUES (1, N'None')
INSERT [Analytics].[CustomerExpenditureClassification] ([CustomerExpenditureClassificationID], [CustomerExpenditureClassifier]) VALUES (2, N'Some')
INSERT [Analytics].[CustomerExpenditureClassification] ([CustomerExpenditureClassificationID], [CustomerExpenditureClassifier]) VALUES (3, N'Lots')
GO
INSERT [Analytics].[ManufacturerMarketingCategory] ([ManufacturerMarketingCategoryID], [ManufacturerVehicleMarketingType]) VALUES (1, N'Sports')
INSERT [Analytics].[ManufacturerMarketingCategory] ([ManufacturerMarketingCategoryID], [ManufacturerVehicleMarketingType]) VALUES (2, N'Sports,Tourer')
INSERT [Analytics].[ManufacturerMarketingCategory] ([ManufacturerMarketingCategoryID], [ManufacturerVehicleMarketingType]) VALUES (3, N'Sports')
GO
INSERT [Analytics].[SalesCategoryThreshold] ([SalesCategoryThresholdID], [LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (1, CAST(100.00 AS Numeric(18, 2)), CAST(25000.00 AS Numeric(18, 2)), N'Very Low')
INSERT [Analytics].[SalesCategoryThreshold] ([SalesCategoryThresholdID], [LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (2, CAST(25001.00 AS Numeric(18, 2)), CAST(50000.00 AS Numeric(18, 2)), N'Low')
INSERT [Analytics].[SalesCategoryThreshold] ([SalesCategoryThresholdID], [LowerThreshold], [UpperThreshold], [CategoryDescription]) VALUES (3, CAST(50001.00 AS Numeric(18, 2)), CAST(75000.00 AS Numeric(18, 2)), N'Medium')
GO
SET IDENTITY_INSERT [dbo].[__MigrationLog] ON 

INSERT [dbo].[__MigrationLog] ([migration_id], [script_checksum], [script_filename], [complete_dt], [applied_by], [deployed], [version], [package_version], [release_version], [sequence_no]) VALUES (N'15fcb4b6-7e34-5223-a4a2-3308062cffa4', N'A0D0668B79C2C2CC615278AD938B096EA367745FF15BD1D0BCF615020D3331BD', N'Programmable Objects\dbo\Functions\DatabaseObjects.sql', CAST(N'2022-12-12T21:16:25.9064222' AS DateTime2), N'sa', 0, NULL, N'', NULL, 2)
INSERT [dbo].[__MigrationLog] ([migration_id], [script_checksum], [script_filename], [complete_dt], [applied_by], [deployed], [version], [package_version], [release_version], [sequence_no]) VALUES (N'fe99d5af-67c8-52e5-9b72-844ceea73245', N'A03B64B71B34761E0B28670B1E58D86481E4D6AADC829065459603EDA7DE7FCF', N'Programmable Objects\dbo\Views\uvw_HumanResourcesStaff.sql', CAST(N'2022-12-12T21:16:25.9064222' AS DateTime2), N'sa', 0, NULL, N'', NULL, 3)
INSERT [dbo].[__MigrationLog] ([migration_id], [script_checksum], [script_filename], [complete_dt], [applied_by], [deployed], [version], [package_version], [release_version], [sequence_no]) VALUES (N'd2f9baf0-7b2b-44e0-ad91-ed6db01e8269', N'F21EBA32207EB70E95F528CA336797E5A9D43A285ADBA973B0E81501E8302B71', N'Migrations\1.0.0-Baseline\001_20221212-1616_StudentCSCI381Erwin.sql', CAST(N'2022-12-12T21:16:25.9022891' AS DateTime2), N'sa', 0, NULL, N'', NULL, 1)
SET IDENTITY_INSERT [dbo].[__MigrationLog] OFF
GO
SET IDENTITY_INSERT [DbSecurity].[UserAuthorization] ON 

INSERT [DbSecurity].[UserAuthorization] ([UserAuthorizationId], [ClassTime], [GroupName], [GroupProjectName], [GroupMemberLastName], [GroupMemberFirstName], [DateAdded], [DateOfLastUpdate]) VALUES (1, N'9:15', N'Group One         ', N'CSCI381 Group One Final Project', N'Qadeer', N'Humaira', CAST(N'2022-12-12T16:59:09.6121435' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [DbSecurity].[UserAuthorization] ([UserAuthorizationId], [ClassTime], [GroupName], [GroupProjectName], [GroupMemberLastName], [GroupMemberFirstName], [DateAdded], [DateOfLastUpdate]) VALUES (2, N'9:15', N'Group One         ', N'CSCI381 Group One Final Project', N'Wu', N'Daniel', CAST(N'2022-12-12T17:01:37.1804528' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [DbSecurity].[UserAuthorization] ([UserAuthorizationId], [ClassTime], [GroupName], [GroupProjectName], [GroupMemberLastName], [GroupMemberFirstName], [DateAdded], [DateOfLastUpdate]) VALUES (3, N'9:15', N'Group One         ', N'CSCI381 Group One Final Project', N'Kamal', N'Hafsah', CAST(N'2022-12-12T17:01:37.2011764' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [DbSecurity].[UserAuthorization] OFF
GO
INSERT [HumanResources].[Department] ([DepartmentName], [DepartmentID]) VALUES (N'Sales', 1)
INSERT [HumanResources].[Department] ([DepartmentName], [DepartmentID]) VALUES (N'Finance', 2)
INSERT [HumanResources].[Department] ([DepartmentName], [DepartmentID]) VALUES (N'Marketing', 3)
GO
SET IDENTITY_INSERT [HumanResources].[Staff] ON 

INSERT [HumanResources].[Staff] ([StaffID], [StaffName], [DepartmentID], [ManagerID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, N'Amelia', 0, NULL, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T15:58:42.2754957' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [HumanResources].[Staff] ([StaffID], [StaffName], [DepartmentID], [ManagerID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, N'Gerard', 2, 1, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T15:58:42.2754957' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [HumanResources].[Staff] ([StaffID], [StaffName], [DepartmentID], [ManagerID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, N'Chloe', 3, 1, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T15:58:42.2754957' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [HumanResources].[Staff] OFF
GO
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleMake] ON 

INSERT [Inventory].[ManufacturerVehicleMake] ([ManufacturerVehicleMakeID], [ManufacturerVehicleMakeName], [ManufacturerVehicleMarketingCategoryID], [CountryID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, N'Ferrari', 1, 9, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:12:18.7365541' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Inventory].[ManufacturerVehicleMake] ([ManufacturerVehicleMakeID], [ManufacturerVehicleMakeName], [ManufacturerVehicleMarketingCategoryID], [CountryID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, N'Porsche', 2, 4, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:12:18.7531211' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Inventory].[ManufacturerVehicleMake] ([ManufacturerVehicleMakeID], [ManufacturerVehicleMakeName], [ManufacturerVehicleMarketingCategoryID], [CountryID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, N'Lamborghini', 3, 9, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:12:18.7655470' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleMake] OFF
GO
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleModel] ON 

INSERT [Inventory].[ManufacturerVehicleModel] ([ManufacturerVehicleModelID], [ManufacturerVehicleMakeID], [ManufacturerVehicleModelName], [ManufacturerVehicleModelVariant], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, 1, N'Daytona', N'None', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:16:36.9525635' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Inventory].[ManufacturerVehicleModel] ([ManufacturerVehicleModelID], [ManufacturerVehicleMakeID], [ManufacturerVehicleModelName], [ManufacturerVehicleModelVariant], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, 1, N'Testarossa', N'None', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:16:36.9651417' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Inventory].[ManufacturerVehicleModel] ([ManufacturerVehicleModelID], [ManufacturerVehicleMakeID], [ManufacturerVehicleModelName], [ManufacturerVehicleModelVariant], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, 1, N'355', N'None', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:16:36.9816793' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleModel] OFF
GO
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleStock] ON 

GO
SET IDENTITY_INSERT [Inventory].[ManufacturerVehicleStock] OFF
GO
SET IDENTITY_INSERT [Sales].[Country] ON 

INSERT [Sales].[Country] ([CountryID], [CountryName], [CountryISO3], [CountryISO2], [SalesRegion], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, N'Belgium', N'BEL', N'BE', N'EMEA', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:46:55.4466299' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[Country] ([CountryID], [CountryName], [CountryISO3], [CountryISO2], [SalesRegion], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, N'Switzerland', N'CHF', N'CH', N'EMEA', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:46:55.4714386' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[Country] ([CountryID], [CountryName], [CountryISO3], [CountryISO2], [SalesRegion], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, N'China', N'CHN', N'CN', N'Asia', N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:46:55.4880623' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [Sales].[Country] OFF
GO
INSERT [Sales].[Customer] ([CustomerID], [CustomerName], [CustomerAddress1], [CustomerAddress2], [CustomerTown], [CustomerPostalCode], [CountryID], [IsCustomerReseller], [IsCustomerCreditRisk], [CustomerExpenditureClassificationID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, N'Magic Motors', N'27, Handsworth Road', N'Unavailable', N'Birmingham', N'B1 7AZ', 7, 1, 0, 3, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T13:42:41.0000000' AS DateTime2), CAST(N'9999-12-31T23:59:59.0000000' AS DateTime2))
INSERT [Sales].[Customer] ([CustomerID], [CustomerName], [CustomerAddress1], [CustomerAddress2], [CustomerTown], [CustomerPostalCode], [CountryID], [IsCustomerReseller], [IsCustomerCreditRisk], [CustomerExpenditureClassificationID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, N'Snazzy Roadsters', N'102, Bleak Street', N'Unavailable', N'Birmingham', N'B3 5ST', 7, 1, 1, 2, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T13:42:41.0000000' AS DateTime2), CAST(N'9999-12-31T23:59:59.0000000' AS DateTime2))
INSERT [Sales].[Customer] ([CustomerID], [CustomerName], [CustomerAddress1], [CustomerAddress2], [CustomerTown], [CustomerPostalCode], [CountryID], [IsCustomerReseller], [IsCustomerCreditRisk], [CustomerExpenditureClassificationID], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, N'Birmingham Executive Prestige Vehicles', N'96, Aardvark Avenue', N'Unavailable', N'Birmingham', N'B2 8UH', 7, 1, 0, 1, N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T13:42:41.0000000' AS DateTime2), CAST(N'9999-12-31T23:59:59.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [Sales].[SalesOrderVehicle] ON 

INSERT [Sales].[SalesOrderVehicle] ([SalesOrderVehicleID], [CustomerID], [StaffID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, 1, 1, N'GBPGB001', CAST(65000.00 AS Numeric(18, 2)), CAST(N'2015-01-02' AS Date), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T18:06:16.8432935' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[SalesOrderVehicle] ([SalesOrderVehicleID], [CustomerID], [StaffID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, 2, 2, N'GBPGB002', CAST(220000.10 AS Numeric(18, 2)), CAST(N'2015-01-25' AS Date), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T18:06:48.9185083' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[SalesOrderVehicle] ([SalesOrderVehicleID], [CustomerID], [StaffID], [InvoiceNumber], [TotalSalePrice], [SaleDate], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, 3, 3, N'GBPGB003', CAST(19500.00 AS Numeric(18, 2)), CAST(N'2015-02-03' AS Date), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T18:06:48.9351357' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
GO
SET IDENTITY_INSERT [Sales].[SalesOrderVehicle] OFF
GO
SET IDENTITY_INSERT [Sales].[SalesOrderVehicleDetail] ON 

INSERT [Sales].[SalesOrderVehicleDetail] ([SalesOrderVehicleDetailID], [SalesOrderVehicleID], [LineItemNumber], [ManufacturerVehicleStockID], [StockCode], [SalePrice], [LineItemDiscount], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (1, 1, 1, 1, N'B1C3B95E-3005-4840-8CE3-A7BC5F9CFB3F', CAST(65000.00 AS Numeric(18, 2)), CAST(2700.00 AS Numeric(18, 2)), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:05:35.9015978' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[SalesOrderVehicleDetail] ([SalesOrderVehicleDetailID], [SalesOrderVehicleID], [LineItemNumber], [ManufacturerVehicleStockID], [StockCode], [SalePrice], [LineItemDiscount], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (2, 2, 1, 2, N'A2C3B95E-3005-4840-8CE3-A7BC5F9CFB5F', CAST(220000.00 AS Numeric(18, 2)), CAST(60000.00 AS Numeric(18, 2)), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:05:35.9585549' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [Sales].[SalesOrderVehicleDetail] ([SalesOrderVehicleDetailID], [SalesOrderVehicleID], [LineItemNumber], [ManufacturerVehicleStockID], [StockCode], [SalePrice], [LineItemDiscount], [Note], [IsDeleted], [TransactionNumber], [UserAuthorizationID], [SysStartTime], [SysEndTime]) VALUES (3, 3, 1, 3, N'558620F5-B9E8-4FFF-8F73-A83FA9559C41', CAST(19500.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), N'Row was inserted', N'N', 1, 1, CAST(N'2022-12-11T19:05:35.9793971' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
GO
SET IDENTITY_INSERT [Sales].[SalesOrderVehicleDetail] OFF
GO
/****** Object:  Index [IX___MigrationLog_CompleteDt]    Script Date: 12/12/2022 4:24:17 PM ******/
CREATE NONCLUSTERED INDEX [IX___MigrationLog_CompleteDt] ON [dbo].[__MigrationLog]
(
	[complete_dt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX___MigrationLog_Version]    Script Date: 12/12/2022 4:24:17 PM ******/
CREATE NONCLUSTERED INDEX [IX___MigrationLog_Version] ON [dbo].[__MigrationLog]
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX___MigrationLog_SequenceNo]    Script Date: 12/12/2022 4:24:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX___MigrationLog_SequenceNo] ON [dbo].[__MigrationLog]
(
	[sequence_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Analytics].[CustomerExpenditureClassification] ADD  CONSTRAINT [XPK_CustomerExpenditureClassificationID_Sequence]  DEFAULT (NEXT VALUE FOR [PKSequence].[CustomerExpenditureClassificationID]) FOR [CustomerExpenditureClassificationID]
GO
ALTER TABLE [Analytics].[CustomerExpenditureClassification] ADD  CONSTRAINT [DF_CustomerExpenditureClassification_CustomerExpenditureClassifier]  DEFAULT ('Unavailable') FOR [CustomerExpenditureClassifier]
GO
ALTER TABLE [Analytics].[ManufacturerMarketingCategory] ADD  CONSTRAINT [DF_Template_Unavailable_458766293]  DEFAULT ('Unavailable') FOR [ManufacturerVehicleMarketingType]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] ADD  CONSTRAINT [DF_SalesCategoryThreshold_LowerThreshold_Price]  DEFAULT ((0.00)) FOR [LowerThreshold]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] ADD  CONSTRAINT [DF_SalesCategoryThreshold_UpperThreshold_Price]  DEFAULT ((0.00)) FOR [UpperThreshold]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] ADD  CONSTRAINT [DF_Template_Unavailable_1475131995]  DEFAULT ('Unavailable') FOR [CategoryDescription]
GO
ALTER TABLE [dbo].[__MigrationLog] ADD  CONSTRAINT [DF___MigrationLog_deployed]  DEFAULT ((1)) FOR [deployed]
GO
ALTER TABLE [dbo].[__SchemaSnapshot] ADD  CONSTRAINT [__SchemaSnapshotDateDefault]  DEFAULT (sysdatetime()) FOR [LastUpdateDate]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_ClassTime]  DEFAULT ('9:15') FOR [ClassTime]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_GroupName]  DEFAULT ('Group One') FOR [GroupName]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_GroupProjectName]  DEFAULT ('CSCI381 Group One Final Project') FOR [GroupProjectName]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_GroupMemberLastName]  DEFAULT ('Unavailable') FOR [GroupMemberLastName]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_GroupMemberFirstName_Unavailable]  DEFAULT ('Unavailable') FOR [GroupMemberFirstName]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_DateAdded__Sysdatetime]  DEFAULT (sysdatetime()) FOR [DateAdded]
GO
ALTER TABLE [DbSecurity].[UserAuthorization] ADD  CONSTRAINT [DF_UserAuthorization_DateOfOfLastUpdate_Sysdatetime]  DEFAULT ('99991231 23:59:59.9999999') FOR [DateOfLastUpdate]
GO
ALTER TABLE [HumanResources].[Department] ADD  CONSTRAINT [DF_Department_Department_Unavailable]  DEFAULT ('Unavailable') FOR [DepartmentName]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_StaffName_Unavailable]  DEFAULT ('Unavailable') FOR [StaffName]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_DepartmentID_ForeignKeyValue]  DEFAULT ((0)) FOR [DepartmentID]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_ManagerID_ForeignKeyValue]  DEFAULT ((0)) FOR [ManagerID]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_UserAuthorizationID_OrdinalNumber]  DEFAULT ((1)) FOR [UserAuthorizationID]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [HumanResources].[Staff] ADD  CONSTRAINT [DF_Staff_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_ManufacturerVehicleMake_ManufacturerVehicleMakeName_Unknown]  DEFAULT ('Unavailable') FOR [ManufacturerVehicleMakeName]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_ManufacturerVehicleMake_CountryID_ForeignKeyValue]  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_ManufacturerVehicleMake_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_Template_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_ManufacturerVehicleMake_TransactionNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_ManufacturerVehicleMake_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] ADD  CONSTRAINT [DF_Template_SysEndTime_1062630532]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_ManufacturerVehicleMakeID_ForeignKeyValue]  DEFAULT ((0)) FOR [ManufacturerVehicleMakeID]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_ManufacturerModelName_Unknown]  DEFAULT ('Unavailable') FOR [ManufacturerVehicleModelName]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_ManufacturerModelVariant_Unknown]  DEFAULT ('Unavailable') FOR [ManufacturerVehicleModelVariant]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] ADD  CONSTRAINT [DF_ManufacturerVehicleModel_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_StockCode_Unavailable]  DEFAULT ('Unavailable') FOR [StockCode]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_Cost_Price]  DEFAULT ((0.00)) FOR [Cost]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_RepairsCharge_Price]  DEFAULT ((0.00)) FOR [RepairsCharge]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_PartsCharge_Price]  DEFAULT ((0.00)) FOR [PartsCharge]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_DeliveryCharge_Price]  DEFAULT ((0.00)) FOR [DeliveryCharge]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_IsPremiumRoadHandlingPackage_FlagFalse]  DEFAULT ((0)) FOR [IsPremiumRoadHandlingPackage]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_VehicleColor_Unavailable]  DEFAULT ('Unavailable') FOR [VehicleColor]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_CustomerComments_Unavailable]  DEFAULT ('Unavailable') FOR [CustomerComments]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_PurchaseDate_Date]  DEFAULT ('19991231') FOR [PurchaseDate]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] ADD  CONSTRAINT [DF_ManufacturerVehicleStock_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_CountryName_Unavailable]  DEFAULT ('Unavailable') FOR [CountryName]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_CountryISO3_Unavailable]  DEFAULT ('Unavailable') FOR [CountryISO3]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_CountryISO2_Unavailable]  DEFAULT ('Unavailable') FOR [CountryISO2]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_SalesRegion_Unavailable]  DEFAULT ('Unavailable') FOR [SalesRegion]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Sales].[Country] ADD  CONSTRAINT [DF_Country_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [XPK_CustomerID_Sequence]  DEFAULT (NEXT VALUE FOR [PKSequence].[CustomerID]) FOR [CustomerID]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerName_Unavailable]  DEFAULT ('Unavailable') FOR [CustomerName]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerAddress1_Unavailable]  DEFAULT ('Unavailable') FOR [CustomerAddress1]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerAddress2_Unavailable]  DEFAULT ('Unavailable') FOR [CustomerAddress2]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerTownUnavailable]  DEFAULT ('Unavailable') FOR [CustomerTown]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerPostalCode_Unavailable]  DEFAULT ('Unavailable') FOR [CustomerPostalCode]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_CountryID]  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_IsCustomerReseller_FlagFalse]  DEFAULT ((0)) FOR [IsCustomerReseller]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_IsCustomerCreditRisk_FlagFalse]  DEFAULT ((0)) FOR [IsCustomerCreditRisk]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Sales].[Customer] ADD  CONSTRAINT [DF_Customer_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_CustomerID_SequenceStartingValue]  DEFAULT ((0)) FOR [CustomerID]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_StaffID_ForeignKeyValue]  DEFAULT ((0)) FOR [StaffID]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_InvoiceNumber_InvoiceNumber]  DEFAULT ('00000000') FOR [InvoiceNumber]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_TotalSalePrice_Price]  DEFAULT ((0.00)) FOR [TotalSalePrice]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_SaleDate_Date]  DEFAULT ('19991231') FOR [SaleDate]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_Note_Unavailable]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Sales].[SalesOrderVehicle] ADD  CONSTRAINT [DF_SalesOrderVehicle_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_SalesOrderVehicleID_ForeignKeyValue]  DEFAULT ((0)) FOR [SalesOrderVehicleID]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_LineItemNumber_SequenceStartingValue]  DEFAULT ((1)) FOR [LineItemNumber]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_ManufacturerVehicleStockID_ForeignKeyValue]  DEFAULT ((0)) FOR [ManufacturerVehicleStockID]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_StockCode_Unavailable]  DEFAULT ('Unavailable') FOR [StockCode]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_SalePrice_Price]  DEFAULT ((0.00)) FOR [SalePrice]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_LineItemDiscount_Price]  DEFAULT ((0.00)) FOR [LineItemDiscount]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_Note_Note]  DEFAULT ('Row was inserted') FOR [Note]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_IsDeleted_FlagNo]  DEFAULT ('N') FOR [IsDeleted]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_TransactionNumber_OrdinalNumber]  DEFAULT ((1)) FOR [TransactionNumber]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_UserAuthorizationID_OrdinalNumber]  DEFAULT ((1)) FOR [UserAuthorizationID]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_SysStartTime_Sysdatetime]  DEFAULT (sysdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] ADD  CONSTRAINT [DF_SalesOrderVehicleDetail_SysEndTime_SysEndTime]  DEFAULT ('99991231 23:59:59.9999999') FOR [SysEndTime]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerVehicleMake_ManufacturerMarketingCategory] FOREIGN KEY([ManufacturerVehicleMarketingCategoryID])
REFERENCES [Analytics].[ManufacturerMarketingCategory] ([ManufacturerMarketingCategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] CHECK CONSTRAINT [FK_ManufacturerVehicleMake_ManufacturerMarketingCategory]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerVehicleModel_ManufacturerVehicleMake] FOREIGN KEY([ManufacturerVehicleMakeID])
REFERENCES [Inventory].[ManufacturerVehicleMake] ([ManufacturerVehicleMakeID])
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] CHECK CONSTRAINT [FK_ManufacturerVehicleModel_ManufacturerVehicleMake]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerVehicleModel_ManufacturerVehicleModel] FOREIGN KEY([ManufacturerVehicleModelID])
REFERENCES [Inventory].[ManufacturerVehicleModel] ([ManufacturerVehicleModelID])
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] CHECK CONSTRAINT [FK_ManufacturerVehicleModel_ManufacturerVehicleModel]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerVehicleStock_ManufacturerVehicleModel] FOREIGN KEY([ManufacturerVehicleModelID])
REFERENCES [Inventory].[ManufacturerVehicleModel] ([ManufacturerVehicleModelID])
ON UPDATE CASCADE
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [FK_ManufacturerVehicleStock_ManufacturerVehicleModel]
GO
ALTER TABLE [Sales].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Country] FOREIGN KEY([CountryID])
REFERENCES [Sales].[Country] ([CountryID])
ON UPDATE CASCADE
GO
ALTER TABLE [Sales].[Customer] CHECK CONSTRAINT [FK_Customer_Country]
GO
ALTER TABLE [Sales].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CustomerExpenditureClassification] FOREIGN KEY([CustomerExpenditureClassificationID])
REFERENCES [Analytics].[CustomerExpenditureClassification] ([CustomerExpenditureClassificationID])
GO
ALTER TABLE [Sales].[Customer] CHECK CONSTRAINT [FK_Customer_CustomerExpenditureClassification]
GO
ALTER TABLE [Sales].[SalesOrderVehicle]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderVehicle_Customer] FOREIGN KEY([CustomerID])
REFERENCES [Sales].[Customer] ([CustomerID])
GO
ALTER TABLE [Sales].[SalesOrderVehicle] CHECK CONSTRAINT [FK_SalesOrderVehicle_Customer]
GO
ALTER TABLE [Sales].[SalesOrderVehicle]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderVehicle_Staff] FOREIGN KEY([StaffID])
REFERENCES [HumanResources].[Staff] ([StaffID])
GO
ALTER TABLE [Sales].[SalesOrderVehicle] CHECK CONSTRAINT [FK_SalesOrderVehicle_Staff]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderVehicleDetail_ManufacturerVehicleStock] FOREIGN KEY([ManufacturerVehicleStockID])
REFERENCES [Inventory].[ManufacturerVehicleStock] ([ManufacturerVehicleStockID])
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [FK_SalesOrderVehicleDetail_ManufacturerVehicleStock]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderVehicleDetail_SalesOrderVehicle] FOREIGN KEY([SalesOrderVehicleID])
REFERENCES [Sales].[SalesOrderVehicle] ([SalesOrderVehicleID])
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [FK_SalesOrderVehicleDetail_SalesOrderVehicle]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold]  WITH CHECK ADD  CONSTRAINT [CK_SalesCategoryThreshold_CategoryDescription_SalesThreshold] CHECK  (([CategoryDescription]='Outstanding' OR [CategoryDescription]='Exceptional' OR [CategoryDescription]='Very High' OR [CategoryDescription]='High' OR [CategoryDescription]='Medium' OR [CategoryDescription]='Low' OR [CategoryDescription]='Very Low'))
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] CHECK CONSTRAINT [CK_SalesCategoryThreshold_CategoryDescription_SalesThreshold]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold]  WITH CHECK ADD  CONSTRAINT [CK_SalesCategoryThreshold_LowerThreshold_Price] CHECK  (([LowerThreshold]>=(0.00)))
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] CHECK CONSTRAINT [CK_SalesCategoryThreshold_LowerThreshold_Price]
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold]  WITH CHECK ADD  CONSTRAINT [CK_SalesCategoryThreshold_UpperThreshold_Price] CHECK  (([UpperThreshold]>=(0.00)))
GO
ALTER TABLE [Analytics].[SalesCategoryThreshold] CHECK CONSTRAINT [CK_SalesCategoryThreshold_UpperThreshold_Price]
GO
ALTER TABLE [HumanResources].[Staff]  WITH CHECK ADD  CONSTRAINT [CK_Staff_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [HumanResources].[Staff] CHECK CONSTRAINT [CK_Staff_IsDeleted_AuditFlag]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake]  WITH CHECK ADD  CONSTRAINT [CK_Template_AuditFlag_339417156] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleMake] CHECK CONSTRAINT [CK_Template_AuditFlag_339417156]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleModel_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleModel] CHECK CONSTRAINT [CK_ManufacturerVehicleModel_IsDeleted_AuditFlag]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_Cost_Price] CHECK  (([Cost]>=(0.00)))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_Cost_Price]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_DeliveryCharge_Price] CHECK  (([DeliveryCharge]>=(0.00)))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_DeliveryCharge_Price]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_IsDeleted_AuditFlag]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_IsPremiumRoadHandlingPackage_FlagBit] CHECK  (([IsPremiumRoadHandlingPackage]=(1) OR [IsPremiumRoadHandlingPackage]=(0)))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_IsPremiumRoadHandlingPackage_FlagBit]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_PartsCharge_Price] CHECK  (([PartsCharge]>=(0.00)))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_PartsCharge_Price]
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturerVehicleStock_RepairsCharge_Price] CHECK  (([RepairsCharge]>=(0.00)))
GO
ALTER TABLE [Inventory].[ManufacturerVehicleStock] CHECK CONSTRAINT [CK_ManufacturerVehicleStock_RepairsCharge_Price]
GO
ALTER TABLE [Sales].[Country]  WITH CHECK ADD  CONSTRAINT [CK_Country_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Sales].[Country] CHECK CONSTRAINT [CK_Country_IsDeleted_AuditFlag]
GO
ALTER TABLE [Sales].[Country]  WITH CHECK ADD  CONSTRAINT [CK_Country_SalesRegion] CHECK  (([SalesRegion]='Asia' OR [SalesRegion]='South America' OR [SalesRegion]='North America' OR [SalesRegion]='EMEA'))
GO
ALTER TABLE [Sales].[Country] CHECK CONSTRAINT [CK_Country_SalesRegion]
GO
ALTER TABLE [Sales].[Country]  WITH CHECK ADD  CONSTRAINT [CK_Template_CountryISO2_625223618] CHECK  (([CountryISO2] like '[A-Z][A-Z]'))
GO
ALTER TABLE [Sales].[Country] CHECK CONSTRAINT [CK_Template_CountryISO2_625223618]
GO
ALTER TABLE [Sales].[Country]  WITH CHECK ADD  CONSTRAINT [CK_Template_CountryISO3_608446401] CHECK  (([CountryISO3] like '[A-Z][A-Z][A-Z]'))
GO
ALTER TABLE [Sales].[Country] CHECK CONSTRAINT [CK_Template_CountryISO3_608446401]
GO
ALTER TABLE [Sales].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_IsCustomerCreditRisk_FlagBit] CHECK  (([IsCustomerCreditRisk]=(1) OR [IsCustomerCreditRisk]=(0)))
GO
ALTER TABLE [Sales].[Customer] CHECK CONSTRAINT [CK_Customer_IsCustomerCreditRisk_FlagBit]
GO
ALTER TABLE [Sales].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_IsCustomerReseller_FlagBit] CHECK  (([IsCustomerReseller]=(1) OR [IsCustomerReseller]=(0)))
GO
ALTER TABLE [Sales].[Customer] CHECK CONSTRAINT [CK_Customer_IsCustomerReseller_FlagBit]
GO
ALTER TABLE [Sales].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Sales].[Customer] CHECK CONSTRAINT [CK_Customer_IsDeleted_AuditFlag]
GO
ALTER TABLE [Sales].[SalesOrderVehicle]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicle_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Sales].[SalesOrderVehicle] CHECK CONSTRAINT [CK_SalesOrderVehicle_IsDeleted_AuditFlag]
GO
ALTER TABLE [Sales].[SalesOrderVehicle]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicle_TotalSalePrice_Price] CHECK  (([TotalSalePrice]>=(0.00)))
GO
ALTER TABLE [Sales].[SalesOrderVehicle] CHECK CONSTRAINT [CK_SalesOrderVehicle_TotalSalePrice_Price]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicleDetail_DerivedDiscountedSalePrice_Price] CHECK  (([DerivedDiscountedSalePrice]>=(0.00)))
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [CK_SalesOrderVehicleDetail_DerivedDiscountedSalePrice_Price]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicleDetail_IsDeleted_AuditFlag] CHECK  (([IsDeleted]='Y' OR [IsDeleted]='N'))
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [CK_SalesOrderVehicleDetail_IsDeleted_AuditFlag]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicleDetail_LineItemDiscount_Price] CHECK  (([LineItemDiscount]>=(0.00)))
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [CK_SalesOrderVehicleDetail_LineItemDiscount_Price]
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderVehicleDetail_SalePrice_Price] CHECK  (([SalePrice]>=(0.00)))
GO
ALTER TABLE [Sales].[SalesOrderVehicleDetail] CHECK CONSTRAINT [CK_SalesOrderVehicleDetail_SalePrice_Price]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The unique identifier of a migration script file. This value is stored within the <Migration /> Xml fragment within the header of the file itself.

Note that it is possible for this value to repeat in the [__MigrationLog] table. In the case of programmable object scripts, a record will be inserted with a particular ID each time a change is made to the source file and subsequently deployed.

In the case of a migration, you may see the same [migration_id] repeated, but only in the scenario where the "Mark As Deployed" button/command has been run.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'migration_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A SHA256 representation of the migration script file at the time of build.  This value is used to determine whether a migration has been changed since it was deployed. In the case of a programmable object script, a different checksum will cause the migration to be redeployed.
Note: if any variables have been specified as part of a deployment, this will not affect the checksum value.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'script_checksum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The name of the migration script file on disk, at the time of build.
If Semantic Versioning has been enabled, then this value will contain the full relative path from the root of the project folder. If it is not enabled, then it will simply contain the filename itself.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'script_filename'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date/time that the migration finished executing. This value is populated using the SYSDATETIME function.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'complete_dt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The executing user at the time of deployment (populated using the SYSTEM_USER function).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'applied_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column contains a number of potential states:

0 - Marked As Deployed: The migration was not executed.
1- Deployed: The migration was executed successfully.
2- Imported: The migration was generated by importing from this DB.

"Marked As Deployed" and "Imported" are similar in that the migration was not executed on this database; it was was only marked as such to prevent it from executing during subsequent deployments.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'deployed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The semantic version that this migration was created under. In SQL Change Automation projects, a folder can be given a version number, e.g. 1.0.0, and one or more migration scripts can be stored within that folder to provide logical grouping of related database changes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If you have enabled SQLCMD Packaging in your SQL Change Automation project, or if you are using Octopus Deploy, this will be the version number that your database package was stamped with at build-time.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'package_version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If you are using Octopus Deploy, you can use the value in this column to look-up which release was responsible for deploying this migration.
If deploying via PowerShell, set the $ReleaseVersion variable to populate this column.
If deploying via Visual Studio, this column will always be NULL.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'release_version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'An auto-seeded numeric identifier that can be used to determine the order in which migrations were deployed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog', @level2type=N'COLUMN',@level2name=N'sequence_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table is required by SQL Change Automation projects to keep track of which migrations have been executed during deployment. Please do not alter or remove this table from the database.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__MigrationLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table is used by SQL Change Automation projects to store a snapshot of the schema at the time of the last deployment. Please do not alter or remove this table from the database.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'__SchemaSnapshot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This view is required by SQL Change Automation projects to determine whether a migration should be executed during a deployment. The view lists the most recent [__MigrationLog] entry for a given [migration_id], which is needed to determine whether a particular programmable object script needs to be (re)executed: a non-matching checksum on the current [__MigrationLog] entry will trigger the execution of a programmable object script. Please do not alter or remove this table from the database.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'__MigrationLogCurrent'
GO
USE [master]
GO
